{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "react",
        "flow"
      ],
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "es": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false
          }
        ],
        "react",
        "flow"
      ],
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "modules": false
          }
        ],
        "react",
        "flow"
      ],
      "plugins": [
        ["transform-class-properties", { "spec": true }]
      ]
    }
  }
}
